/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2015, 8:25:28 PM
    Author     : John Santos
*/

@charset "UTF-8";
/* CSS Document */
body {
	background-image: url();
	background-repeat: repeat;
	text-align: center;
	background-color: #FFF;
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
}

#monopolyCanvas{
        background-image: url("images/classic_game_board_sm.png");
       
}
.header {
	color: blue;
	text-align: center;
	font-size: 18px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a:link {
	color: #669933;
}
a:visited {
	color: #0C0;
}
a:hover {
	color: #CC6;
}
a:active {
	color: #408000;
}
.h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	font-weight: bold;
	color: #DB2737;
}

.h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000
}
.h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #F00;
}
.button{
	color: blue;
	text-align: center;
	font-size: 14px;
}
